<h1>CATTTTTTZ</h1>

<ul>
</ul>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Color</th>
    <th>Sex</th>
  </tr>
  <tr>
    <td><%= @cat.name %></td>
    <td><%= @cat.description %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.sex %></td>
  </tr>
<table>
